@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    outline: 0;
    outline-offset: 0;
    box-sizing: border-box;
    border: none;
    width: auto;
    height: auto;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


body {
    line-height: 1;
    overflow-x: hidden;
    width: 100%;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
select,
button {
    border: none;
    outline: none;
    background: none;
    border-radius: 0;
}

*:active,
*:hover,
*:focus {
    outline: 0;
}




/* COMMON */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #2D2D2D;
}

@media (min-width: 1800px) {
    body {
        font-size: 22px;
    }
}

body section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

body h3 {
    font-weight: 200;
    font-size: 38px;
}

@media (min-width: 1800px) {
    body h3 {
        font-size: 48px;
    }
}

@media (max-width: 850px) {
    body h3 {
        font-size: 32px;
    }
}





/* SECTION 1*/

#s1 {
    background: #F0F0F0;
    position: relative;
}

@media (max-width: 1000px) {
    #s1 {
        display: block;
    }
}

.s1__headers {
    position: absolute;
    top: 50%;
    width: 50vw;
    transform: translateY(-50%);
    text-align: center;
    user-select: none;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: s1__headers-animation;
    animation-duration: 10s;
    z-index: 2;
}

@media (max-width: 1000px) {
    .s1__headers {
        position: relative;
        top: 30%;
        width: 100vw;
    }
}

.s1__headers h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    word-spacing: 15px;
}

@media (min-width: 1800px) {
    .s1__headers h1 {
        font-size: 80px;
    }
}

@media (max-width: 1200px) {
    .s1__headers h1 {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    .s1__headers h1 {
        font-size: 36px;
    }
}

@media (max-width: 380px) {
    .s1__headers h1 {
        font-size: 30px;
    }
}

.s1__headers h2 {
    font-size: 26px;
    font-weight: 200;
    letter-spacing: 3px;
    word-spacing: 6px;
    margin-top: 10px;

}

@media (min-width: 1800px) {
    .s1__headers h2 {
        font-size: 38px;
    }
}

@media (max-width: 1200px) {
    .s1__headers h2 {
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .s1__headers h2 {
        font-size: 16px;
        word-spacing: 0;
    }
}

@media (max-width: 380px) {
    .s1__headers h2 {
        font-size: 14px;
    }
}

@keyframes s1__headers-animation {
    20% {
        color: #5E4C4C;
        transform: rotateY(10deg) rotateX(10deg) translateY(-40%);
    }

    40% {
        color: #4C545E;
    }

    60% {
        color: #DAD8DD;
        transform: rotateY(-10deg) rotateX(-5deg) rotateZ(0.5deg) translateY(-55%);
    }

    80% {
        color: #765151;
        transform: rotateY(5deg) rotateX(10deg) rotateZ(-0.5deg) translateY(-40%);
    }
}



.s1__image-application {
    position: absolute;
    top: 50%;
    width: 50vw;
    right: 0;
    transform: translate(0, -50%);
    height: 100%;
    text-align: center;
    z-index: 1;
}

@media (max-height: 650px) {
    .s1__image-application {
        top: 10%;
        transform: translate(0);
    }
}

@media (max-width: 1000px) {
    .s1__image-application {
        width: 100vw;
        left: 50%;
        top: 35%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 500px) {
    .s1__image-application {
        left: 60%;
    }
}

.s1__image-application-container {
    background-image: url("../images/michelle-yeoh_general-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    height: 700px;
    width: 466px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    overflow: hidden;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: s1__image-application-container-animation;
    animation-duration: 12s;
}

@media (min-width: 1800px) {
    .s1__image-application-container {
        height: 900px;
        width: 600px;
    }
}

@media (max-width: 1000px) {
    .s1__image-application-container {
        top: 0;
        transform: translate(-50%, 0%);
    }
}

@keyframes s1__image-application-container-animation {
    20% {
        background-size: 105%;
    }

    60% {
        background-size: 100%;
    }

    80% {
        background-size: 102%;
    }
}

.s1__image-application-border {
    height: 703px;
    width: 469px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 6px solid #F0F0F0;
}

@media (max-width: 1000px) {
    .s1__image-application-border {
        top: -2px;
        transform: translate(-50%, 0%);
    }
}

@media (min-width: 1800px) {
    .s1__image-application-border {
        height: 903px;
        width: 603px;
    }
}

.s1__image-application-inner-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #F0F0F0;
    mix-blend-mode: lighten;
    box-sizing: border-box;
    overflow: hidden;
}

.s1__image-application-inner-container .s1__image {
    background-color: black;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.s1__image-application-inner-container .s1__image-1 {
    width: 40%;
    height: 35%;
    top: 25%;
    left: 52%;
    animation-name: s1__image-1-animation;
    animation-duration: 5s;
}

@keyframes s1__image-1-animation {
    to {
        transform: scale(1.04, 1.04) translate(-45%, -51%);
    }
}

.s1__image-application-inner-container .s1__image-2 {
    width: 15%;
    height: 10%;
    top: 18%;
    left: 20%;
    border-top-left-radius: 100%;
    animation-name: s1__image-2-animation;
    animation-duration: 3s;
}

@keyframes s1__image-2-animation {
    to {
        transform: scale(1.06, 1.05) translate(-54%, -51%);
    }
}

.s1__image-application-inner-container .s1__image-3 {
    width: 22%;
    height: 15%;
    top: 35%;
    left: 20%;
    animation-name: s1__image-3-animation;
    animation-duration: 4s;
}

@keyframes s1__image-3-animation {
    to {
        transform: scale(1.02, 1.08) translate(-65%, -48%);
    }
}

.s1__image-application-inner-container .s1__image-4 {
    width: 60%;
    height: 20%;
    top: 56%;
    left: 50%;
    animation-name: s1__image-4-animation;
    animation-duration: 5s;
}

@keyframes s1__image-4-animation {
    to {
        transform: scale(1.1, 1.1) translate(-39%, -51%);
    }
}

.s1__image-application-inner-container .s1__image-5 {
    width: 50%;
    height: 20%;
    top: 79%;
    left: 30%;
    animation-name: s1__image-5-animation;
    animation-duration: 8s;
}

@media (max-width: 1000px) {
    .s1__image-application-inner-container .s1__image-5 {
        display: none;
    }
}

@keyframes s1__image-5-animation {
    to {
        transform: scale(1.05, 1) translate(-40%, -50%);
    }
}

.s1__image-application-inner-container .s1__image-6 {
    width: 25%;
    height: 15%;
    top: 84%;
    left: 74%;
    animation-name: s1__image-6-animation;
    animation-duration: 2s;
}

@media (max-width: 1000px) {
    .s1__image-application-inner-container .s1__image-6 {
        display: none;
    }
}

@keyframes s1__image-6-animation {
    to {
        transform: scale(1, 1.02) translate(-40%, -30%);
    }
}

.s1__particles {
    position: absolute;
    width: 100%;
    height: 100%;
}

.s1__particles .s1__particle {
    position: absolute;
    left: -50%;
    z-index: 10;
    background: radial-gradient(rgba(163, 164, 176, 0.4), rgba(210, 210, 210, 0.1), rgba(163, 164, 176, 0) 50%);
    border-radius: 50%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.s1__particles .s1__particle-1 {
    top: 0;
    width: 30px;
    height: 30px;
    animation-name: s1__particle-1-animation;
    animation-duration: 10s;
}

@keyframes s1__particle-1-animation {
    30% {
        top: 30%;
    }

    80% {
        top: 10%;
    }

    100% {
        left: 150%;
    }
}

.s1__particles .s1__particle-2 {
    top: 50%;
    width: 70px;
    height: 70px;
    animation-name: s1__particle-2-animation;
    animation-duration: 7s;
}

@keyframes s1__particle-2-animation {
    30% {
        top: 70%;
    }

    80% {
        top: 100%;
    }

    100% {
        left: 150%;
    }
}

.s1__particles .s1__particle-3 {
    top: 40%;
    width: 50px;
    height: 50px;
    animation-name: s1__particle-3-animation;
    animation-duration: 8s;
}

@keyframes s1__particle-3-animation {
    30% {
        top: 30%;
    }

    80% {
        top: 50%;
    }

    100% {
        top: 40%;
        left: 150%;
    }
}

.s1__particles .s1__particle-4 {
    top: 100%;
    width: 20px;
    height: 20px;
    animation-name: s1__particle-4-animation;
    animation-duration: 9s;
}

@keyframes s1__particle-4-animation {
    30% {
        top: 30%;
    }

    80% {
        top: 50%;
    }

    100% {
        top: 40%;
        left: 150%;
    }
}

.s1__particles .s1__particle-5 {
    top: 50%;
    width: 60px;
    height: 60px;
    animation-name: s1__particle-5-animation;
    animation-duration: 10s;
}

@keyframes s1__particle-5-animation {
    30% {
        top: 30%;
    }

    60% {
        top: -20%;
    }

    100% {
        top: 20%;
        left: 150%;
    }
}

.s1__particles .s1__particle-6 {
    top: 60%;
    width: 30px;
    height: 30px;
    animation-name: s1__particle-6-animation;
    animation-duration: 5s;
}

@keyframes s1__particle-6-animation {
    30% {
        top: 40%;
    }

    60% {
        top: 60%;
    }

    100% {
        top: 30%;
        left: 150%;
    }
}

.s1__particles .s1__particle-7 {
    top: 100%;
    width: 10px;
    height: 10px;
    animation-name: s1__particle-7-animation;
    animation-duration: 7s;
}

@keyframes s1__particle-7-animation {
    30% {
        top: 60%;
    }

    60% {
        top: 80%;
    }

    100% {
        top: 90%;
        left: 150%;
    }
}

.s1__particles .s1__particle-8 {
    top: 80%;
    width: 40px;
    height: 40px;
    animation-name: s1__particle-8-animation;
    animation-duration: 8s;
}

@keyframes s1__particle-8-animation {
    30% {
        top: 60%;
    }

    60% {
        top: 30%;
    }

    100% {
        top: 0;
        left: 150%;
    }
}




/* VIDEO SECTION */
#s3 {
    background-color: black;
    position: relative;
}

@media (max-width: 1300px) {
    #s3 {
        height: auto;
    }
}

#s3 h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 10%;
    display: block;
}

@media (max-width: 1300px) {
    #s3 h3 {
        position: relative;
        margin-top: 80px;
    }
}

#s3 .s3__video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 100%;
    min-height: 100%;
    transition: 0.5s;
}

@media (max-width: 1300px) {
    #s3 .s3__video {
        height: 100vh;
        min-height: auto;
        transition: 0s;
    }
}

#s3 .s3__video.hide {
    opacity: 0;
    transform: translate(-50%, 10%);
}

#s3 .s3__video-overlay {
    position: absolute;
    background: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#s3 .s3__films-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    align-self: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 5%;
}

@media (max-width: 1300px) {
    #s3 .s3__films-list {
        grid-template-columns: 1fr 1fr;
        position: relative;
        height: auto;
        padding: 80px 20px;
        grid-gap: 60px;
    }
}

@media (max-width: 850px) {
    #s3 .s3__films-list {
        grid-template-columns: 1fr;
        padding-top: 40px;
    }
}

#s3 .s3__films-list li {
    border-radius: 10px;
    width: 280px;
    margin-top: -25px;
    align-self: center;
    overflow: hidden;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    opacity: 0.4;
}

@media (min-width: 1300px) {
    #s3 .s3__films-list li {
        animation-name: s3__film-animation;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

@media (min-width: 1800px) {
    #s3 .s3__films-list li {
        width: 330px;
    }
}

@media (max-width: 1300px) {
    #s3 .s3__films-list li {
        width: 350px;
    }
}

@media (max-width: 850px) {
    #s3 .s3__films-list li {
        margin-top: 0;
        opacity: 1;
    }
}

@media (max-width: 450px) {
    #s3 .s3__films-list li {
        width: 100%;
    }
}

@keyframes s3__film-animation {
    to {
        margin-top: 25px;
    }
}

#s3 .s3__films-list li .s3__img-container {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

@media (min-width: 1800px) {
    #s3 .s3__films-list li .s3__img-container {
        height: 200px;
    }
}

#s3 .s3__films-list li figcaption {
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom, white, #DEE1DD);
}

#s3 .s3__films-list li figcaption * {
    display: block;
}

#s3 .s3__films-list li figcaption strong {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
}

@media (min-width: 1800px) {
    #s3 .s3__films-list li figcaption strong {
        font-size: 32px;
        line-height: 38px;
    }
}

#s3 .s3__films-list li figcaption p {
    margin-top: 10px;
}

@media (min-width: 1800px) {
    #s3 .s3__films-list li figcaption p {
        margin-top: 15px;
    }
}

#s3 .s3__films-list li.active {
    opacity: 1;
}

@media (min-width: 850px) {
    #s3 .s3__films-list li.active {
        transform: scale(1.1);
    }

    #s3 .s3__films-list li.active .s3__img-container {
        height: 170px;
    }
}

@media (min-width: 850px) and (min-width: 1800px) {
    #s3 .s3__films-list li.active .s3__img-container {
        height: 220px;
    }
}

#s3 .s3__films-list .s3__film-1 {
    animation-duration: 2s;
}

#s3 .s3__films-list .s3__film-2 {
    animation-duration: 5s;
}

#s3 .s3__films-list .s3__film-3 {
    animation-duration: 3s;
}

#s3 .s3__films-list .s3__film-4 {
    animation-duration: 6s;
}

#s3 .s3__button {
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    border-bottom: 1px solid;
    transition: 0.2s;
}

#s3 .s3__button:hover {
    letter-spacing: 0.5px;
}

@media (max-width: 1300px) {
    #s3 .s3__button {
        position: relative;
        margin-top: 50px;
    }
}





